.inputModal {
    height: 48px;
    padding: 0px 1.0152rem;
    border-radius: 4px;
    background-color: var(--gray-2);
    border: none;
    color: var(--gray-0);
    box-sizing: border-box;
    border: 1px solid var(--gray-2);

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 00.6)
    }
}


.inputError {
    border: 1px solid var(--color-negative);
}