.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(0.813rem, -3.213rem + 20.125vw, 20.938rem);
    height: 7.375rem;

    border-bottom: 2px solid var(--gray-3);
    @media (max-width: 400px) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}